# 练习1-开始了解你的数据

数据都来源于[DATA8](https://github.com/justmarkham/DAT8)


## 探索Chipotle快餐数据

### 步骤1 导入必要的库

In [1]:
import pandas as pd
import numpy as np

### 步骤2 从[网址](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)导入数据集

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### 步骤3 将数据集存入一个名为chipo的数据框内

In [3]:
chipo = pd.read_csv(url, sep='\t')

### 步骤4 查看前10行内容

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 步骤5 数据集中有多少个观察值

In [6]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [7]:
#Or
chipo.shape[0]

4622

### 步骤6 数据集中有多少个列(columns)

In [8]:
chipo.shape[1]

5

### 步骤7 打印出全部的列名称

In [9]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 步骤8 数据集的索引是怎样的

In [10]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 步骤9 被下单数最多商品(item)是什么?

In [20]:
chipo.quantity.groupby(chipo['item_name']).sum().sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### 步骤10 在item_name这一列中，一共有多少商品被下单？

In [23]:
chipo.item_name.unique().shape

(50,)

### 步骤11 在choice_description中，下单次数最多的商品是什么？

In [25]:
chipo.quantity.groupby(chipo['choice_description']).sum().sort_values(ascending=False).head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

### 步骤12 一共有多少商品被下单？

In [26]:
chipo.quantity.sum()

4972

### 步骤13 将item_price转换为浮点数

In [29]:
dollarizer = lambda x:float(x[1:])
chipo.item_price = chipo.item_price.apply(dollarizer)

### 步骤14 在该数据集对应的时期内，收入(revenue)是多少

In [33]:
revenue = (chipo["quantity"] * chipo["item_price"]).sum()
print('Revenue was:${:.2f}'.format(revenue))

Revenue was:$39237.02

### 步骤15 在该数据集对应的时期内，一共有多少订单？

In [39]:
chipo.order_id.value_counts().count()

1834

### 步骤16 每一单(order)对应的平均总价是多少？

In [51]:
(chipo['item_price'].groupby(chipo['order_id']).sum() / chipo['item_price'].groupby(chipo['order_id']).count()).reset_index().head()

   order_id  item_price
0         1       2.890
1         2      16.980
2         3       6.335
3         4      10.500
4         5       6.850

### 步骤17 一共有多少种不同的商品被售出？

In [53]:
chipo.item_name.value_counts().count()

50