# 练习2-数据过滤与排序(探索Chipotle快餐数据)

### 步骤1 - 导入必要的库

In [1]:
import numpy as np
import pandas as pd

### 步骤2  从以下[地址](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)导入数据集

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### 步骤3  将数据集命名为chipo

In [19]:
chipo = pd.read_csv(url, sep='\t')

### 步骤4 将item_price列转成佛点数，并筛选出大于10的

In [22]:
# clean the item_price column and transform it in a float
chipo.item_price = chipo.item_price.apply(lambda x:float(x[1:]))

# make the comparison
len(chipo[chipo['item_price'] > 10])

1130

### 步骤5 每一个条目的价格是多少

In [26]:
# delete the duplicates in item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity'])

# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by= 'item_price', ascending=False).head()

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75

### 步骤6 按条目的名字来排序

In [28]:
chipo.sort_values(by='item_name').head()

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### 步骤7 那个条目是最贵的

In [33]:
chipo.sort_values(by='item_price', ascending=False).iloc[0]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

### 步骤8 Veggie Salad Bowl被点了多少次

In [37]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

### 步骤9 点Canned Soda是数量大于1的次数

In [39]:
len(chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)])

20